
<form action="{% url 'detailFilm' %}" class="form-inline-lg" method="POST">{% csrf_token %}
    <div class="form-group row">
        <div class="col-12 col-sm-10 mt-2">
            <input type="text" list="filmNames" class="form-control" id="searhInput" placeholder="Search Star Wars film">
            <datalist id="filmNames">
                {% for name in films_name %}
                <option value="{{ name }}"></option>
                {% endfor %}
            </datalist>
        </div>
        <div class="col-12 col-sm-2 mt-2">
            <button type="submit" class="btn mb-2 btn_search">Search</button>
        </div>
    </div>
    
    
</form>