
{% load staticfiles %}
{% load sass_tags %}
{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SWFilms</title>
  <link rel="icon" href="{% static 'image/favicon.ico' %}"/>
  
  <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />

  {% block styles %}
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
  {% endblock %}
  {% block scripts %}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  {% endblock %}
</head>

<body>
<div style="display: none;">Star Wars API</div>
<div class="container-fluid"> 
    {% block content %}

    {% endblock %}
</div>
</body>
</html>